.header {
  margin-left:5px;
  animation: fadein 3s;
}
@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}
@keyframes wait {
  from { transform: translateY(20px); }
  to { transform: translateY(20px); }
}

@keyframes slideInFromBottom {
from { transform: translateY(20px); opacity: .5; }
to { transform: translateY(0); opacity: 1; }
}

@keyframes slideInFromBottom2 {
  from { transform: translateY(20px); opacity: 1; }
  to { transform: translateY(0); opacity: 1; }
  }

.btn {
  display: inline-block;
  background: radial-gradient(at top left, #23f5f9 0%, rgb(163, 241, 255) 100%);
  border-style: solid;
  border-color: black;
  text-align: center;
  font-weight: bold;
  border-width: 2px;
  padding: 10px 16px;
  border-radius: 10px;
  margin-right: 5px;
  color:black;
  animation: fadein 3s;
}
.btn:hover {
  border-color: rgb(255, 255, 255);
  color:rgb(255, 255, 255);
  background: radial-gradient(at top left, #2ab6b8 0%, rgb(87, 130, 138) 100%);
  transition: linear .5s;
}

.img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  background-color: white;
  border-radius: 20%;
  animation: fadein 3s;
}

.imgdiv{
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
  align-items: center;
}

.skills{
  display: flex;
  background: radial-gradient(at top left, #b8b8b8 0%, rgb(101, 101, 101) 100%);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-radius: 15;
  color: black;
  padding: 10px;
  flex-direction: column;
  order: 5;
}


.titles{
  display: flex;
  flex-direction: row;
  order: 5;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
}

.title{
  align-self: auto;
  width: 100px;
  height: 25px;
  color:black;
}

.logos{
  display: flex;
  flex-direction: row;
  order: 5;
  align-items: center;
  justify-content: center;
  margin: 5px;
  
}
.logo {
  animation: slideInFromBottom 3s;
  padding-top: 5px;
  width:100%;
  height:auto;
  max-width: 100px;
  align-self: auto;
}

.logo:hover {
  animation: slideInFromBottom2 3s;
}

.applink:hover {
  color: black;
}